/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Bodoni Moda', serif;
}

header {
    background-color: #e60000;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    flex: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #111;
    padding: 15px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
}

ul li a:hover {
    color: #ff6666;
    border-bottom: 2px solid #ff6666;
}

/* Sección de Ventas Diarias */
.ventas-diarias {
    text-align: center;
    padding: 50px;
}

/* Tabla de ventas */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ff0000;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #e60000;
    color: white;
}

table td {
    background-color: #111;
    color: #fff;
}

/* Filtro y formulario */
#filterInput,
#registroForm input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #e60000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff6666;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    margin-top: 50px;
}

footer p {
    font-size: 1rem;
    color: #fff;
}